@* @{
  Layout = "_Layout";
}

<h1>Add a className1</h1>
<p>Add a className1 here:</p>

<form action="/classNames1" method="post">
  <label for="className1">className1 name</label>
  <input id="className1" name="className1" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/classNames1">Back to classNames1.</a></p> *@