@* @{
  Layout = "_Layout";
}

@using ProjectName.Models;

<h3>Here are all the classNames2 in this className1:</h3>

<ol>
@foreach (ClassName2 className2 in @Model["classNames2"])
{
  <li><a href='/classNames1/@Model["className1"].Id/classNames2/@className2.Id'>@className2.Description</a></li>
}
</ol>

<p><a href='/classNames1/@Model["className1"].Id/classNames2/new'>Add a new className2</a></p>
<p><a href='/classNames1'>Return to className1 list</a></p>
<p><a href='/'>Return to Main Page</a></p> *@