@* @{
  Layout = "_Layout";
}

<h1>Add a new className2 to @Model.Name</h1>

<form action="/classNames1/@Model.Id/classNames2" method="post">
  <input id="className1Id" name="className1Id" type="hidden" value="@Model.Id">
  <label for="className2Description">ClassName2 Description</label>
  <input id="className2Description" name="className2Description" type="text">
  <button type='submit'>Add ClassName2</button>
</form> *@