@* @{
  Layout = "_Layout";
}

<h1>ProjectName ClassName2 Details: </h1>

<h2>@Model["className2"].Description</h2>
<h3>ClassName1: @Model["className1"].Name</h3>

<a href='/classNames1/@Model["className1"].Id/classNames2/new'>Add another className2</a>
<a href='/classNames1'>View all classNames1</a> *@